.carousel
  position: absolute
  z-index: 1
  left: 455px
  top: 215px
  width: 530px
  height: 530px
  border-radius: 50%
  border: rgb(26, 34, 48, 0.1) solid 1px

  .inactive-category
    position: absolute
    left: 261px
    top: 261px
    background: #42567A
    width: 6px
    height: 6px
    transform: rotate(290deg)
    border-radius: 50%
    
  .active-category
    position: absolute
    left: 240px
    top: 240px
    background: #F4F5F9
    width: 56px
    height: 56px
    transform: rotate(290deg)
    border: 1px solid rgba(48, 62, 88, 0.5)
    border-radius: 50%
    text-align: center
    padding-top: 11px
    color: #42567A
    font-size: 20px

  .category-name
    position: relative
    bottom: 26px
    left: 80px

  .category-index
    font-weight: 400

  .hidden
    opacity: 0
  
  .shown
    opacity: 1