.swiper-container
  position: absolute
  left: 80px
  bottom: 104px
  height: 108px
  width: 1280px

  .header
    cursor: default
    font-family: 'Bebas Neue'
    font-style: normal
    font-weight: 400
    font-size: 25px
    line-height: 120%
    color: #3877EE
    margin-bottom: 15px

  .description
    cursor: default
    font-weight: 400
    font-size: 20px
    line-height: 30px
    color: #42567A

  [class^='swiper-button-']:after
    content: none

  [class^='swiper-button-']
    background: #fff
    width: 40px
    height: 40px
    border-radius: 50%
    top: 50px 
    border: none
    box-shadow: 0px 0px 15px rgba(56, 119, 238, 0.1)

  .swiper-button-next
    right: -60px

  .swiper-button-prev
    left: -60px

  .swiper-button-disabled
    opacity: 0

  .swiper-pagination
    display: none

  .arrow
    position: relative
    width: 10px
    height: 10px
    transform: rotate(45deg)
    border: 2px solid #3877EE

  .right
    border-left: none
    border-bottom: none
    right: 2px

  .left
    border-right: none
    border-top: none
    left: 2px

// MOBILE
@media (max-width: 800px)
  .swiper-container
    position: absolute
    left: 20px
    bottom: 104px
    height: 114px
    width: 300px

    .header
      cursor: default
      font-family: 'Bebas Neue'
      font-style: normal
      font-weight: 400
      font-size: 16px
      line-height: 19.2px
      color: #3877EE
      margin-bottom: 15px

    .description
      cursor: default
      font-weight: 400
      font-size: 14px
      line-height: 20.3px
      color: #42567A

    [class^='swiper-button-']
      display: none

    .swiper-slide
      padding-bottom: 50px
    
    .swiper-pagination
      display: block
