.years-container
  position: absolute
  display: flex
  justify-content: space-between
  width: 973px
  height: 160px
  top: 400px
  left: 217px

  .year
    cursor: default
    font-size: 200px
    line-height: 160px

  .from
    color: #5D5FEF

  .to
    color: rgb(239, 93, 168)

// MOBILE
@media (max-width: 800px)
  .years-container
    position: absolute
    display: flex
    justify-content: space-between
    width: 273px
    height: 73px
    top: 163px
    left: 20px

    .year
      cursor: default
      font-size: 56px
      line-height: 72.46px

    .from
      color: #5D5FEF

    .to
      color: rgb(239, 93, 168)
